{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "plugins": ["./node_modules/@prettier/plugin-xml/src/plugin.js"],
  "overrides": [
    {
      "files": "*.svg",
      "options": { "parser": "xml" }
    }
  ]
}

